.Home-Page {
    
}
.featured-restaurants {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.restaurant-card {
    display: inline-block;
    margin: 5px;
    text-align: center;
}
.restaurant-image {
    display: block;
    width: 150px;
}
.restaurant-name {
    font-size: small;
}